#element {
    background: #fff;
    height: auto;
    display: none;
    box-shadow: 10px 10px 5px grey;
}

li:hover {
    background: #f2f4f4;
}

input {
    height: 40px;
    width: 100%;
    font-size: 14px;
    padding-left: 14px;
}